<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thicc</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <style>
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
    <script>
        function _post() {
            const code = editor.getValue();
            const language = document.getElementById('language').value;
            const http = new XMLHttpRequest();
            const url = '/create';
            http.open('POST', url, true);
            http.setRequestHeader('Content-type', 'application/json');
            http.onload = function() {
                window.location.replace('{{protocol}}://{{host}}:{{port}}/' + http.responseText);
            };
            http.send(JSON.stringify({
                'code': btoa(escape(code)),
                'language': language
            }));
        }

        function _update() {
            let lang = document.getElementById('language').value;
            editor.session.setMode("ace/mode/" + lang);
        }
    </script>
</head>
<body>
    <form>
        <div class="form-group" style="margin: 15px">
            <div id="editor"></div>
        </div>
        <div class="form-row" style="margin: 15px; position: fixed; bottom: 15px; right: 15px">
            <div class="row">
                <div class="col">
                    <select class="form-control mb-2" id="language" onchange="_update()">
                        <option value="abap">abap</option>
                        <option value="abc">abc</option>
                        <option value="actionscript">actionscript</option>
                        <option value="ada">ada</option>
                        <option value="apache_conf">apache_conf</option>
                        <option value="apex">apex</option>
                        <option value="applescript">applescript</option>
                        <option value="aql">aql</option>
                        <option value="asciidoc">asciidoc</option>
                        <option value="asl">asl</option>
                        <option value="assembly_x86">assembly_x86</option>
                        <option value="autohotkey">autohotkey</option>
                        <option value="batchfile">batchfile</option>
                        <option value="bro">bro</option>
                        <option value="c9search">c9search</option>
                        <option value="cirru">cirru</option>
                        <option value="clojure">clojure</option>
                        <option value="cobol">cobol</option>
                        <option value="coffee">coffee</option>
                        <option value="coldfusion">coldfusion</option>
                        <option value="crystal">crystal</option>
                        <option value="csharp">csharp</option>
                        <option value="csound_document">csound_document</option>
                        <option value="csound_orchestra">csound_orchestra</option>
                        <option value="csound_score">csound_score</option>
                        <option value="csp">csp</option>
                        <option value="css">css</option>
                        <option value="curly">curly</option>
                        <option value="c_cpp">c_cpp</option>
                        <option value="d">d</option>
                        <option value="dart">dart</option>
                        <option value="diff">diff</option>
                        <option value="django">django</option>
                        <option value="dockerfile">dockerfile</option>
                        <option value="dot">dot</option>
                        <option value="drools">drools</option>
                        <option value="edifact">edifact</option>
                        <option value="eiffel">eiffel</option>
                        <option value="ejs">ejs</option>
                        <option value="elixir">elixir</option>
                        <option value="elm">elm</option>
                        <option value="erlang">erlang</option>
                        <option value="forth">forth</option>
                        <option value="fortran">fortran</option>
                        <option value="fsharp">fsharp</option>
                        <option value="fsl">fsl</option>
                        <option value="ftl">ftl</option>
                        <option value="gcode">gcode</option>
                        <option value="gherkin">gherkin</option>
                        <option value="gitignore">gitignore</option>
                        <option value="glsl">glsl</option>
                        <option value="gobstones">gobstones</option>
                        <option value="golang">golang</option>
                        <option value="graphqlschema">graphqlschema</option>
                        <option value="groovy">groovy</option>
                        <option value="haml">haml</option>
                        <option value="handlebars">handlebars</option>
                        <option value="haskell">haskell</option>
                        <option value="haskell_cabal">haskell_cabal</option>
                        <option value="haxe">haxe</option>
                        <option value="hjson">hjson</option>
                        <option value="html">html</option>
                        <option value="html_elixir">html_elixir</option>
                        <option value="html_ruby">html_ruby</option>
                        <option value="ini">ini</option>
                        <option value="io">io</option>
                        <option value="jack">jack</option>
                        <option value="jade">jade</option>
                        <option value="java">java</option>
                        <option value="javascript">javascript</option>
                        <option value="json">json</option>
                        <option value="jsoniq">jsoniq</option>
                        <option value="jsp">jsp</option>
                        <option value="jssm">jssm</option>
                        <option value="jsx">jsx</option>
                        <option value="julia">julia</option>
                        <option value="kotlin">kotlin</option>
                        <option value="latex">latex</option>
                        <option value="less">less</option>
                        <option value="liquid">liquid</option>
                        <option value="lisp">lisp</option>
                        <option value="livescript">livescript</option>
                        <option value="logiql">logiql</option>
                        <option value="logtalk">logtalk</option>
                        <option value="lsl">lsl</option>
                        <option value="lua">lua</option>
                        <option value="luapage">luapage</option>
                        <option value="lucene">lucene</option>
                        <option value="makefile">makefile</option>
                        <option value="markdown">markdown</option>
                        <option value="mask">mask</option>
                        <option value="matlab">matlab</option>
                        <option value="maze">maze</option>
                        <option value="mel">mel</option>
                        <option value="mixal">mixal</option>
                        <option value="mushcode">mushcode</option>
                        <option value="mysql">mysql</option>
                        <option value="nginx">nginx</option>
                        <option value="nim">nim</option>
                        <option value="nix">nix</option>
                        <option value="nsis">nsis</option>
                        <option value="objectivec">objectivec</option>
                        <option value="ocaml">ocaml</option>
                        <option value="pascal">pascal</option>
                        <option value="perl">perl</option>
                        <option value="perl6">perl6</option>
                        <option value="pgsql">pgsql</option>
                        <option value="php">php</option>
                        <option value="php_laravel_blade">php_laravel_blade</option>
                        <option value="pig">pig</option>
                        <option value="plain_text" selected="selected">plain_text</option>
                        <option value="powershell">powershell</option>
                        <option value="praat">praat</option>
                        <option value="prolog">prolog</option>
                        <option value="properties">properties</option>
                        <option value="protobuf">protobuf</option>
                        <option value="puppet">puppet</option>
                        <option value="python">python</option>
                        <option value="r">r</option>
                        <option value="razor">razor</option>
                        <option value="rdoc">rdoc</option>
                        <option value="red">red</option>
                        <option value="redshift">redshift</option>
                        <option value="rhtml">rhtml</option>
                        <option value="rst">rst</option>
                        <option value="ruby">ruby</option>
                        <option value="rust">rust</option>
                        <option value="sass">sass</option>
                        <option value="scad">scad</option>
                        <option value="scala">scala</option>
                        <option value="scheme">scheme</option>
                        <option value="scss">scss</option>
                        <option value="sh">sh</option>
                        <option value="sjs">sjs</option>
                        <option value="slim">slim</option>
                        <option value="smarty">smarty</option>
                        <option value="snippets">snippets</option>
                        <option value="soy_template">soy_template</option>
                        <option value="space">space</option>
                        <option value="sparql">sparql</option>
                        <option value="sql">sql</option>
                        <option value="sqlserver">sqlserver</option>
                        <option value="stylus">stylus</option>
                        <option value="svg">svg</option>
                        <option value="swift">swift</option>
                        <option value="tcl">tcl</option>
                        <option value="terraform">terraform</option>
                        <option value="tex">tex</option>
                        <option value="text">text</option>
                        <option value="textile">textile</option>
                        <option value="toml">toml</option>
                        <option value="tsx">tsx</option>
                        <option value="turtle">turtle</option>
                        <option value="twig">twig</option>
                        <option value="typescript">typescript</option>
                        <option value="vala">vala</option>
                        <option value="vbscript">vbscript</option>
                        <option value="velocity">velocity</option>
                        <option value="verilog">verilog</option>
                        <option value="vhdl">vhdl</option>
                        <option value="visualforce">visualforce</option>
                        <option value="wollok">wollok</option>
                        <option value="xml">xml</option>
                        <option value="xquery">xquery</option>
                        <option value="yaml">yaml</option>
                        <option value="zeek">zeek</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2" onclick="_post()" style="margin-left: 15px">Upload</button>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setOptions({
            fontFamily: "'Ubuntu Mono', monospace",
            fontSize: "17pt"
        });
        editor.setShowPrintMargin(false);
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");
    </script>
</body>
</html>