<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thicc</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <style>
            #editor {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        </style>
    </head>
    <body>
        <div id="editor">{{code}}</div>

        <script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setOptions({
                fontFamily: "'Ubuntu Mono', monospace",
                fontSize: "17pt",
                readOnly: true,
                highlightActiveLine: false,
                highlightGutterLine: false
            });
            editor.renderer.$cursorLayer.element.style.opacity = 0;
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/{{language}}");
        </script>
    </body>
</html>